@import "tailwindcss";

@theme {
  --font-sans: "Open Sauce Sans", sans-serif;
}

body,
button,
input,
textarea,
select {
  font-family: var(--font-sans);
  letter-spacing: 0.12px;
}

html {
  zoom: 0.9;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
